<!--
  Generated template for the OcorrenciaListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lista de Ocorrencias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p> Lista de Ocorrencias do Veículo {{ placa }}</p>
  
  <div>
    <ion-item>
      <ion-label>Filtrar por Período</ion-label>
      <ion-checkbox [(ngModel)]="filtrar" color="dark" checked="false" (ionChange)="resetarFiltro()"></ion-checkbox>
    </ion-item>
  </div>

  <div *ngIf="filtrar">
    <ion-item>
      <ion-label floating>Período Inicial</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="periodoInicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Período Final</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="periodoFinal"></ion-datetime>
    </ion-item>
    <button (click)="filtrarOcorrenciasByPeriodo()" ion-button full>Filtrar</button>
  </div>

  <ion-list>
    <button ion-item *ngFor="let ocorrencia of ocorrencias" (click)="manipularOcorrencia(ocorrencia)">
      <p>Data: {{ ocorrencia.data | date: 'dd/MM/yyyy' }}</p>
      <p>Hora: {{ ocorrencia.hora }}</p>
      <p>Tipo: {{ocorrencia.tipoOcorrencia.id}} {{ocorrencia.tipoOcorrencia.nome}}</p>
      <p>Descrição: </p>
      <p>{{ocorrencia.descricao}}</p>
    </button>
  </ion-list>
  <ion-item>
      <button ion-button full (click)="novaOcorrencia()">Nova Ocorrencia</button>
      <button ion-button full (click)="voltar()">Voltar</button>
  </ion-item>
</ion-content>
